<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car parts store</title>
</head>
<body>
    Car parts store

    <div>
        <form action="#" th:action="@{/mvc/carPartsStore}" th:object="${carPartDTO}" method="post">
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <p>
                Category:
                <select th:field="*{categoryString}">
                    <option value="">select car part category</option>
                    <option th:each="carPartCategory : ${carPartCategoryList}" th:value="${carPartCategory}" th:text="${carPartCategory}"></option>
                </select>
            </p>
            <p>Price: <input type="number" th:field="*{price}" /></p>
            <p>Description: <input type="text" th:field="*{description}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>

</body>
</html>